*{
    margin: 0;
    padding: 0;
}

.fotoNanan{
    height: 350px;
    float: left;
    margin-right: 20px;
}

.container{
    justify-items: center;
}

.noticias{
    overflow: auto;
    width: 700px;
    text-align: justify;
}

.overflow{
    margin-top: 10px;
    border: 3px solid red;
    height: 100px;
    width: 200px;
    overflow: auto;
}

nav{
    background-color: rgb(237, 218, 255);
    height: 50px;
    padding: 10px 40px;
}

.navIcon{
    height: 30px;
    padding-top: 10px;
}

ul{
    float: right;
    li{
        display: inline-block;
        line-height: 50px;
        margin-left: 20px;
    }
}